.search-input {
    width: 400px;
    margin: 0; /* Remove margin */
    padding: 10px 30px 10px 10px;
    border-radius: 20px;
    border: 1px solid #757581;
    background-color: #ffffff;
    outline: none;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px 20px;
}

.search-input::placeholder {
    color: #999;
}

.moreinfo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    background-color: #fafcfd;
    padding: 10px; /* Added some padding for better spacing */
    border-style: solid;
    border-color: gray;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.menuPic {
    width: 35px;
    height: 28px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff; /* Set icon color to white */
}



.vertical-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #bebec0;
    padding-top: 60px;
}

.icons{
    width:30px;
    height:30px;
}

.vertical-menu a {
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
}

.vertical-menu a:hover {
    background-color: #bdb9b9;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked ~ .vertical-menu {
    display: block;
}

.toggle-checkbox:checked ~ .vertical-menu .close-button {
    display: block;
}

#personal-info{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.formDiv{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;

}

.info-input{

    width: 200px;
    margin: 0; 
    padding: 10px 30px 10px 10px;
    border-radius: 20px;
    border: 1px solid #757581;
    background-color: #ffffff;
    outline: none;
   
}

.bold{
    font-weight: bolder;
}

.input{
    margin-right: 30px;
    margin-top: 30px;
}

.date-selector {
    display: flex;
    width: 200px;
    margin-right: 20px;
}


.select-wrapper {
    margin-right: 10px; 
}

.select-wrapper:last-child {
    margin-right: 0; 
}

.day, .month, .year{
    border-radius: 20px;
}
select {
    padding: 8px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 20px;
}

.national-selector{
    
    width: 250px;
    border-radius: 20px;
}

.nationality-selector{
    
    margin-right: 50px;
}


.submit{
    margin-top: 60px;
    height:35px;
    width:180px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: #bcc5c5;
}

.submit:hover {
    background-color: #1c8d7a;
}

.moreinfo #info {
    margin-right: 70px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 52px;
    height: 43px;
    margin-right: 15px;
}

.information #name {
    margin-top: 15px;
    margin-right: 50px;
}

