.nav-container{
    height: 92px;
    width: 100%;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-color: grey;
    padding:0px;
    margin:0px;
}

.logo-container{
    height:100%;
    width:70px;
}