/* DocWallet.css */

/* Container styles */
.doc-wallet-container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.doc-wallet-heading-green {
  font-size: 24px;
  margin-bottom: 20px;
  color: #18da1e; /* Green color for the heading */
}

/* Navigation bar styles */
.doc-wallet-nav {
  margin-bottom: 20px;
}

.doc-wallet-option {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.doc-wallet-option.active {
  background-color: #0056b3; /* Darker color for active option */
}

/* File input styles */
.doc-wallet-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
}

/* Optional: Button styles for file input */
.doc-wallet-upload-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.doc-wallet-upload-button:hover {
  background-color: #0056b3;
}

/* Style for the custom file upload label */
.custom-file-upload {
  border: 2px solid #0d5239;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-weight: bold;
  width: 70px;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}



.dash {
  width: 300px;
  height: 150px;
  border: 2px dashed #000;
  padding: 10px;
}
.dash-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% of the viewport height */
}

