:root { 
--blue_A200:#518ef8; 
--red_500:#f14336; 
--light_blue_400:#1bbaff; 
--deep_purple_600:#6418c3; 
--gray_800_01:#4f4040; 
--black_900_3f:#0000003f; 
--green_600:#28b446; 
--light_blue_900:#0a6383; 
--gray_50:#f9f9f9; 
--black_900_01:#111010; 
--black_900:#000000; 
--cyan_800_01:#0c889c; 
--gray_500_01:#a4a4a4; 
--blue_gray_800:#444b59; 
--teal_50_00:#e3e9ea00; 
--light_blue_300_4f:#5dceff4f; 
--gray_500_02:#8f8f8f; 
--black_900_03:#050505; 
--black_900_02:#070606; 
--pink_400:#e328af; 
--black_900_05:#00000005; 
--gray_400:#c2c2c2; 
--pink_50:#ffcff1; 
--gray_500:#aaaaaa; 
--amber_600:#fbbb00; 
--gray_800:#4c3737; 
--gray_900:#1f1f1f; 
--teal_50:#e3e9ea; 
--gray_300:#e1e3e9; 
--blue_100_6f:#c8d3f96f; 
--teal_A200:#4ff3fd; 
--indigo_300:#7799de; 
--indigo_200:#9eb0ea; 
--cyan_800:#078a9c; 
--blue_100:#c8d3f9; 
--blue_gray_600_1e:#4e638d1e; 
--white_A700:#ffffff; 
--cyan_700:#058b9e; 
--indigo_300_01:#8699da; 
}