:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  height: 2900px;
  position: relative;
  width: 1440px;
}

.desktop .frame {
  background-color: #d9cccc;
  height: 140px;
  left: 50px;
  position: absolute;
  top: 60px;
  width: 206px;
}

.desktop .overlap-group {
  background-image: url(../../../static/img/line-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 140px;
  position: relative;
}

.desktop .line {
  height: 140px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 206px;
}

.desktop .overlap {
  height: 141px;
  left: 296px;
  position: absolute;
  top: 58px;
  width: 404px;
}

.desktop .HOME {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 207px;
}

.desktop .VAULT {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 197px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 207px;
}

.desktop .PROFILE {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 907px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 207px;
}

.desktop .SEARCH {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 700px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 207px;
}

.desktop .APPLY {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 1114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 207px;
}

.desktop .overlap-2 {
  height: 522px;
  left: 45px;
  position: absolute;
  top: 368px;
  width: 1345px;
}

.desktop .rectangle {
  background-color: #d9d9d9;
  height: 520px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 670px;
}

.desktop .description-box {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 685px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 660px;
}

.desktop .img {
  height: 521px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 681px;
}

.desktop .line-2 {
  height: 521px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 671px;
}

.desktop .rectangle-2 {
  background-color: #0f0505;
  height: 625px;
  left: 50px;
  position: absolute;
  top: 1060px;
  width: 93px;
}

.desktop .overlap-3 {
  height: 626px;
  left: 163px;
  position: absolute;
  top: 1059px;
  width: 435px;
}

.desktop .rectangle-3 {
  background-color: #d9d9d9;
  height: 625px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 434px;
}

.desktop .line-3 {
  height: 626px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 435px;
}

.desktop .line-4 {
  height: 626px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 435px;
}

.desktop .overlap-4 {
  height: 626px;
  left: 617px;
  position: absolute;
  top: 1059px;
  width: 444px;
}

.desktop .rectangle-4 {
  background-color: #d9d9d9;
  height: 625px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 433px;
}

.desktop .line-5 {
  height: 626px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 444px;
}

.desktop .line-6 {
  height: 626px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 434px;
}

.desktop .overlap-5 {
  height: 626px;
  left: 1070px;
  position: absolute;
  top: 1060px;
  width: 320px;
}

.desktop .rectangle-5 {
  background-color: #d9d9d9;
  height: 625px;
  left: 0;
  position: absolute;
  top: 0;
  width: 207px;
}

.desktop .rectangle-6 {
  background-color: #0f0505;
  height: 625px;
  left: 227px;
  position: absolute;
  top: 0;
  width: 93px;
}

.desktop .line-7 {
  height: 625px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 228px;
}

.desktop .line-8 {
  height: 625px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.desktop .rectangle-7 {
  background-color: #0e0404;
  height: 625px;
  left: 50px;
  position: absolute;
  top: 1902px;
  width: 93px;
}

.desktop .overlap-6 {
  height: 626px;
  left: 163px;
  position: absolute;
  top: 1901px;
  width: 435px;
}

.desktop .overlap-7 {
  height: 626px;
  left: 617px;
  position: absolute;
  top: 1901px;
  width: 434px;
}

.desktop .line-9 {
  height: 626px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 434px;
}

.desktop .overlap-8 {
  height: 625px;
  left: 1070px;
  position: absolute;
  top: 1902px;
  width: 208px;
}

.desktop .line-10 {
  height: 611px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 208px;
}

.desktop .line-11 {
  height: 619px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 208px;
}

.desktop .rectangle-8 {
  background-color: #0f0505;
  height: 625px;
  left: 1297px;
  position: absolute;
  top: 1902px;
  width: 93px;
}

.desktop .overlap-9 {
  height: 159px;
  left: 13px;
  position: absolute;
  top: 2654px;
  width: 924px;
}

.desktop .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 320px;
}

.desktop .rectangle-9 {
  background-color: #d9d9d9;
  height: 85px;
  left: 37px;
  position: absolute;
  top: 74px;
  width: 887px;
}

.desktop .overlap-10 {
  height: 159px;
  left: 1033px;
  position: absolute;
  top: 2654px;
  width: 357px;
}

.desktop .frame-2 {
  background-color: #000000;
  height: 85px;
  left: 34px;
  position: absolute;
  top: 74px;
  width: 93px;
}

.desktop .frame-3 {
  background-color: #000000;
  height: 85px;
  left: 149px;
  position: absolute;
  top: 74px;
  width: 93px;
}

.desktop .frame-4 {
  background-color: #000000;
  height: 85px;
  left: 264px;
  position: absolute;
  top: 74px;
  width: 93px;
}

